@charset "utf-8";
/* CSS Document */

#div_sempre_accesso {
	background-color: azure;
}

#div_parte_spento {
	background-color: chartreuse;
}

.div_spento {
	display: none;
}

.div_accesso {
	display: block;
	 position: absolute;
	 top:50px;
	 left: 100px;
	 font-size: 30px;
}