/* CSS Document */


:root {
  --main-bg-color: #E7E6EB;
  --main-txt-color: blue;
  --main-padding: 15px;
}



.reservation:hover {
	background-color:cornsilk;
}

.moreinfo {
	background-color:azure;
	visibility: hidden;
	display: none;
}


.moreinfo:hover {
	background-color:azure;
	visibility: visible;
	display: block;
}


#loading {
	width: 100%;
	z-index: 3;
	text-align: center;
	position: relative;
	top: 30px;
	height: 0;
}


#loading img {
	width: 150px;
	padding-top: 3.2em;
}

.hide {
	display: none;
}

.show {
	display: block;
}


#div1 {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	padding: var(--main-padding);
	border-bottom: 2px solid #BBBBC1;
}

#div2 {
	background-color: #FDFDFD;
	color: var(--main-txt-color);
	padding: var(--main-padding);
	border-bottom: 1px solid #ECECEC;

}
@media (min-width:640px){
#div1 {
	float: left;
	width: 30%;
}

#div2 {
    background-color: transparent;
	color: #E11E21;
	width: 70%;
	margin-left: 30%;
}

}
